@model List<Nop.Plugin.Product.Backup.Models.ProductModel>

@{
    Layout = "_ConfigurePlugin";
}

@foreach (var model in Model)
{
    var modelName = model.Name;
    <h5>Model: @modelName</h5>
    var modelPrice = model.Price;
    <h5>Price: @modelPrice</h5>
    var modelExported = model.Exported;
    <h5>Exported: @modelExported</h5>
    var modelShortDescription = model.ShortDescription;
    <h5>ShortDescription: @modelShortDescription</h5>
    var modelSku = model.Sku;
    <h5>Sku: @modelSku</h5>
}
